<div class="contenedor-pricipal">
    <div class="contenedor-formulario">
        <div class="titulo">
            <p>Información de la propiedad</p>
        </div>
        <div class="cargar-imagen">
            <img src="assets/foto3.png" alt="propiedades">
            <button class="pi pi-image"><span class="material-symbols-outlined">
                add_to_photos
                </span></button>
        </div>
        
        <div class="formulario">
            <form>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre">
                </div>

                <div class="form-group">
                    <label for="departamento">Departamento</label>
                    <select id="departamento" name="departamento">
                        <!-- Opciones del departamento -->
                        <option value="Amazonas">Amazonas</option>
                        <option value="Antioquia">Antioquia</option>
                        <option value="Arauca">Arauca</option>
                        <option value="Atlántico">Atlántico</option>
                        <option value="Bolívar">Bolívar</option>
                        <option value="Boyacá">Boyacá</option>
                        <option value="Caldas">Caldas</option>
                        <option value="Caquetá">Caquetá</option>
                        <option value="Casanare">Casanare</option>
                        <option value="Cauca">Cauca</option>
                        <option value="Cesar">Cesar</option>
                        <option value="Chocó">Chocó</option>
                        <option value="Córdoba">Córdoba</option>
                        <option value="Cundinamarca">Cundinamarca</option>
                        <option value="Guainía">Guainía</option>
                        <option value="Guaviare">Guaviare</option>
                        <option value="Huila">Huila</option>
                        <option value="La Guajira">La Guajira</option>
                        <option value="Magdalena">Magdalena</option>
                        <option value="Meta">Meta</option>
                        <option value="Nariño">Nariño</option>
                        <option value="Norte de Santander">Norte de Santander</option>
                        <option value="Putumayo">Putumayo</option>
                        <option value="Quindío">Quindío</option>
                        <option value="Risaralda">Risaralda</option>
                        <option value="San Andrés y Providencia">San Andrés y Providencia</option>
                        <option value="Santander">Santander</option>
                        <option value="Sucre">Sucre</option>
                        <option value="Tolima">Tolima</option>
                        <option value="Valle del Cauca">Valle del Cauca</option>
                        <option value="Vaupés">Vaupés</option>
                        <option value="Vichada">Vichada</option>
                    </select>
                </div>
                

                <div class="form-group">
                    <label for="municipio">Municipio</label>
                    <select id="municipio" name="municipio">
                        <option value="">Selecciona un municipio</option>
                        <option value="">Bogotá</option>
                        <option value="">Bogotá</option>
                        <option value="">Bogotá</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="tipo-ingreso">Tipo de Ingreso</label>
                    <select id="tipo-ingreso" name="tipo_ingreso">
                        <option value="">Selecciona un tipo de ingreso</option>
                        <!-- Opciones del tipo de ingreso -->
                    </select>
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea id="descripcion" name="descripcion"></textarea>
                </div>

                <div class="form-group">
                    <label for="habitaciones">Habitaciones</label>
                    <input type="number" id="habitaciones" name="habitaciones">
                </div>

                <div class="form-group">
                    <label for="banos">Baños</label>
                    <input type="number" id="banos" name="banos">
                </div>

                <div class="form-group">
                    <label for="mascotas">Mascotas</label>
                    <select id="mascotas" name="mascotas">
                        <option value="">Si</option>
                        <option value="">No</option>
                        ¿
                    </select>
                </div>

                <div class="form-group">
                    <label for="piscina">Piscina</label>
                    <select id="piscina" name="piscina">
                        <option value="">Si</option>
                        <option value="">No</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="asador">Asador</label>
                    <select id="asador" name="asador">
                        <option value="">Si</option>
                        <option value="">No</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="valor-noche">Valor noche</label>
                    <input type="number" id="valor-noche" name="valor_noche">
                </div>

                <div class="form-group">
                    <label for="metros-cuadrados">Metros cuadrados</label>
                    <input type="number" id="metros-cuadrados" name="metros_cuadrados">
                </div>

                <!-- Botón de enviar -->
                <div id="enviar" class="form-group">
                    <button class="enviar" type="submit" (click)="onSubmit()">Guardar</button>
                </div>
            </form>

        </div>
    </div>
</div>