<footer>
  <div class="footer-container">
    <div class="footer-section brand-section">
      <h2>InHome</h2>
      <div class="footer-text">
        <p>
          Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do
          Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Aliqua.
        </p>
        <p class="copyright">Copyright © 2024 InDesign</p>
      </div>
    </div>
    <div class="footer-section newsletter-section">
      <h2>Sign Up Our News Latter</h2>
      <form action="#" method="post">
        <div class="input-combo">
          <input
            type="email"
            name="email"
            placeholder="Enter Your Email Address"
          />
          <button type="submit">→</button>
        </div>
      </form>
      <div class="links-section">
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Our Services</a></li>
        </ul>
        <ul class="footer-links">
          <li><a href="#">Contact US</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
        <div class="social-links">
          <a href="#">FB</a>
          <a href="#">TW</a>
          <a href="#">IN</a>
        </div>
      </div>
    </div>
  </div>
</footer>
