<section class="product">
    <div class="container-fluid">
        <div class="slider-wrap">
            <div class="slider-main">
                <div class="item shadow">
                    <div class="text">1</div>
                </div>
                <div class="item shadow">
                    <div class="text">2</div>
                </div>
                <div class="item shadow">
                    <div class="text">3</div>
                </div>
                <div class="item shadow">
                    <div class="text">4</div>
                </div>
                <div class="item shadow">
                    <div class="text">5</div>
                </div>
            </div>
            <div class="button-area">
                <button type="button" class="prev" (click)="prev()">Prev</button>
                <button type="button" class="next" (click)="next()">Next</button>
            </div>
        </div>
    </div>

</section>