<header>
  <div class="container">
    <div class="logo">
      <p (click)="home()" onKeyPress="">InHome</p>
    </div>
    <nav>
      <a href="">Inicio</a>
      <a href="">Nosotros</a>
      <a href="/properties-catalog">Galería</a>
      <a href="">Precios</a>
      <a href="/test">Servicios</a>
    </nav>

    <div *ngIf="loggedIn; else notLoggedIn">
      <span class="material-symbols-outlined" (click)="profile()" onKeyPress="">
        person
      </span>
    </div>
    <ng-template #notLoggedIn>
      <div class="options">
        <button (click)="login()">Iniciar sesión</button>
        <button (click)="register()">Registrarse</button>
      </div>
    </ng-template>
  </div>
</header>
