<div class="contenedor-principal">
    <div class="solicitudes">
        <div class="solicitud">
            <div class="img">
                <img src="assets/usuarios.png" alt="">
            </div>
            <div class="info-1">
                <p class="name">José Manuel Rodríguez</p>
                <p class="finca">Finca Museo del sol</p>
                <p class="date">26/03/2024 - 14:00</p>
            </div>
            <hr>
            <div class="info-2">
                <p class="llegada">Llegada: 01/04/2024</p>
                <p class="salida">Salida: 5/04/2024</p>
                <p class="precio">$80.000 COP</p>
            </div>
            <hr>
            <div class="info-3">
                <p class="estado">Por aceptar</p>
                <div class="btns">
                    <button id="aceptar" class="pi pi-check-circle"><i class="material-symbols-outlined">cancel</i></button>
                    <button id="rechazar" class="pi pi-times-circle"><span class="material-symbols-outlined">check_circle</span></button>
                </div>
            </div>
        </div>
        <div class="solicitud">
            <div class="img">
                <img src="assets/usuarios.png" alt="">
            </div>
            <div class="info-1">
                <p class="name">José Manuel Rodríguez</p>
                <p class="finca">Finca Museo del sol</p>
                <p class="date">26/03/2024 - 14:00</p>
            </div>
            <hr>
            <div class="info-2">
                <p class="llegada">Llegada: 01/04/2024</p>
                <p class="salida">Salida: 5/04/2024</p>
                <p class="precio">$80.000 COP</p>
            </div>
            <hr>
            <div class="info-3">
                <p class="estado">Por aceptar</p>
                <div class="btns">
                    <button id="aceptar" class="pi pi-check-circle"><i class="material-symbols-outlined">cancel</i></button>
                    <button id="rechazar" class="pi pi-times-circle"><span class="material-symbols-outlined">check_circle</span></button>
                </div>
            </div>
        </div>
        <div class="solicitud">
            <div class="img">
                <img src="assets/usuarios.png" alt="">
            </div>
            <div class="info-1">
                <p class="name">José Manuel Rodríguez</p>
                <p class="finca">Finca Museo del sol</p>
                <p class="date">26/03/2024 - 14:00</p>
            </div>
            <hr>
            <div class="info-2">
                <p class="llegada">Llegada: 01/04/2024</p>
                <p class="salida">Salida: 5/04/2024</p>
                <p class="precio">$80.000 COP</p>
            </div>
            <hr>
            <div class="info-3">
                <p class="estado">Por aceptar</p>
                <div class="btns">
                    <button id="aceptar" class="pi pi-check-circle"><i class="material-symbols-outlined">cancel</i></button>
                    <button id="rechazar" class="pi pi-times-circle"><span class="material-symbols-outlined">check_circle</span></button>
                </div>
            </div>
        </div>
        <div class="solicitud">
            <div class="img">
                <img src="assets/usuarios.png" alt="">
            </div>
            <div class="info-1">
                <p class="name">José Manuel Rodríguez</p>
                <p class="finca">Finca Museo del sol</p>
                <p class="date">26/03/2024 - 14:00</p>
            </div>
            <hr>
            <div class="info-2">
                <p class="llegada">Llegada: 01/04/2024</p>
                <p class="salida">Salida: 5/04/2024</p>
                <p class="precio">$80.000 COP</p>
            </div>
            <hr>
            <div class="info-3">
                <p class="estado">Por aceptar</p>
                <div class="btns">
                    <button id="aceptar" class="pi pi-check-circle"><i class="material-symbols-outlined">cancel</i></button>
                    <button id="rechazar" class="pi pi-times-circle"><span class="material-symbols-outlined">check_circle</span></button>
                </div>
            </div>
        </div>
        <div class="solicitud">
            <div class="img">
                <img src="assets/usuarios.png" alt="">
            </div>
            <div class="info-1">
                <p class="name">José Manuel Rodríguez</p>
                <p class="finca">Finca Museo del sol</p>
                <p class="date">26/03/2024 - 14:00</p>
            </div>
            <hr>
            <div class="info-2">
                <p class="llegada">Llegada: 01/04/2024</p>
                <p class="salida">Salida: 5/04/2024</p>
                <p class="precio">$80.000 COP</p>
            </div>
            <hr>
            <div class="info-3">
                <p class="estado">Por aceptar</p>
                <div class="btns">
                    <button id="aceptar" class="pi pi-check-circle"><i class="material-symbols-outlined">cancel</i></button>
                    <button id="rechazar" class="pi pi-times-circle"><span class="material-symbols-outlined">check_circle</span></button>
                </div>
            </div>
        </div>
    </div>
    
</div>