<app-header></app-header>

<div class="container">
  <div class="profile-info">
    <div class="profile-photo">
      <div class="photo">
        <img class="profile-img" src="assets/profile1.png" alt="Foto de perfil" />
      </div>
      <div class="edit-button">
        <button>
          <span class="material-symbols-outlined editar" >
            edit
            </span>
        </button>
      </div>
    </div>
    <div class="info">
      <p>{{ arrendador?.nombre }} {{ arrendador?.apellido }}</p>
      <p class="email">{{ arrendador?.correo }}</p>
      <p class="phone">+57 {{ arrendador?.telefono }}</p>
    </div>
    <button id="cerrar-sesion" (click)="closeSession()">Cerrar sesión</button>
  </div>
  <div class="properties-info">
    <div class="contenedor-opciones">
      <button class="barra-principal">Mensajes</button>
      <button class="barra-principal" (click)="goToPropiedades()">
        Propiedades
      </button>
      <button class="barra-principal" (click)="goToSolicitudes()">
        Solicitudes
      </button>
    </div>
    <!-- Se muestra solo si mostrarPropertiesArrendador es true -->
    <app-properties-arrendador *ngIf="mostrarPropertiesArrendador"
      [propiedades]="propiedades"></app-properties-arrendador>

    <!-- Se muestra solo si mostrarPropertiesArrendador es false -->
    <app-requests-arrendador *ngIf="!mostrarPropertiesArrendador" [solicitudes]="solicitudes"></app-requests-arrendador>
    <div class="anadir-propiedad" (click)="popFormulario()" onKeyPress="">
      <button class="anadir-button">
        <i class="material-symbols-outlined" id="icono-anadir">add_circle</i>
        Añadir Propiedad
      </button>
    </div>
  </div>
</div>

<div class="contenedor-principal" [style.display]="mostrarFormulario ? 'block' : 'none'">
  <app-form-property *ngIf="mostrarFormulario"></app-form-property>
  <button
    id="boton-cerrar"
    class="pi pi-times-circle"
    (click)="ocultarFormulario()"
  ><span class="material-symbols-outlined">
    close
    </span></button>
</div>