<app-header2></app-header2>

<div class="container">
    <div class="profile-info">
        <div class="profile-photo">
            <div class="photo">
                <img class="profile-img" src="assets/profile1.png" alt="Foto de perfil">
            </div>
            <div class="edit-button">
                <button>
                    <img class="edit-img" src="assets/editar.png" alt="Boton editar">
                </button>
            </div>
        </div>
        <div class="info">
            <p>Juan Luis Peralta</p>
            <p class="email">juanPeralta&#64;gmail.com</p>
            <p class="phone">+57 320 6493263</p>
        </div>
    </div>
    <div class="properties-info">
        <app-properties-arrendador></app-properties-arrendador>
    </div>
</div>