<app-header></app-header>

<form #registerform="ngForm" (ngSubmit)="create(registerform)">
  <h1>Registro</h1>

  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="arrendatario.nombre" required #nombre="ngModel" />
    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
      <div *ngIf="nombre.errors && nombre.errors['required']">El nombre es obligatorio.</div>
    </div>
  </div>

  <div>
    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido" [(ngModel)]="arrendatario.apellido" required #apellido="ngModel" />
    <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
      <div *ngIf="apellido.errors && apellido.errors['required']">El apellido es obligatorio.</div>
    </div>
  </div>

  <div>
    <label for="correo">Correo electrónico:</label>
    <input type="email" id="correo" name="correo" [(ngModel)]="arrendatario.correo" required email #correo="ngModel" />
    <div *ngIf="correo.invalid && (correo.dirty || correo.touched)">
      <div *ngIf="correo.errors && correo.errors['required']">El correo electrónico es obligatorio.</div>
      <div *ngIf="correo.errors && correo.errors['email']">El correo electrónico no es válido.</div>
    </div>
  </div>

  <div>
    <label for="telefono">Teléfono:</label>
    <input type="number" id="telefono" name="telefono" [(ngModel)]="arrendatario.telefono" required
      #telefono="ngModel" />
    <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
      <div *ngIf="telefono.errors && telefono.errors['required']">El teléfono es obligatorio.</div>
    </div>
  </div>

  <div>
    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="contrasena" [(ngModel)]="arrendatario.contrasena" required
      minlength="6" pattern="^(?=.*\d).{6,}$" #contrasena="ngModel" />
    <div *ngIf="contrasena.invalid && (contrasena.dirty || contrasena.touched)">
      <div *ngIf="contrasena.errors && contrasena.errors['required']">La contraseña es obligatoria.</div>
      <div *ngIf="contrasena.errors && contrasena.errors['minlength']">La contraseña debe tener al menos 6 caracteres.
      </div>
      <div *ngIf="contrasena.errors && contrasena.errors['pattern']">La contraseña debe contener al menos un número.
      </div>
    </div>

  </div>

  <div>
    <label class="roltittle" for="tipo">Rol:</label>
    <select class="selecttipo" id="tipo" name="tipo" [(ngModel)]="verificar" required #tipo="ngModel">
      <option value="">Seleccione un rol</option>
      <option value="arrendador">Arrendador</option>
      <option value="arrendatario">Arrendatario</option>
    </select>
    <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)">
      <div *ngIf="tipo.errors && tipo.errors['required']">El rol es obligatorio.</div>
    </div>
  </div>

  <button type="submit" [disabled]="registerform.invalid">Registrarse</button>
</form>

<app-footer></app-footer>