<main class="main">
  <section class="hero-section">
    <div class="text-block">
      <div class="text-image">
        <p class="small-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <picture>
          <img
            src="https://via.placeholder.com/450"
            alt="placeholder"
            class="img"
          />
        </picture>
      </div>
      <div class="main-title">
        <h1 class="large-text">Arrien<span class="highlight">da</span></h1>
        <h1 class="large-text">tu Finca</h1>
      </div>
    </div>
    <div class="image-block">
      <div class="text">
        <p class="small-text">Unimos arrendatarios y arrendadores</p>
        <h2>"Encuentra Tu Espacio, Vive Tu Sueño"</h2>
      </div>
      <picture>
        <img
          src="https://via.placeholder.com/350"
          alt="placeholder"
          class="img"
        />
      </picture>
    </div>
  </section>

  <section class="product-section">
    <div class="product-image">
      <picture>
        <img
          src="https://via.placeholder.com/350X550"
          alt="placeholder"
          class="img"
        />
      </picture>
    </div>
    <div class="product-text">
      <h2>CONECTAMOS</h2>
      <div class="main-title">
        <h1 class="large-text">Arrendador &</h1>
        <h1 class="large-text">Arrendatario</h1>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <button class="btn">Ver más</button>
    </div>
  </section>
  <section class="article-section">
    <div class="text-content">
      <h2 class="catalog-title">Catálogo De Interiores</h2>
      <p class="catalog-description">
        Ofrecemos un gran catálogo de fincas para pasar los mejores momentos en
        familia, en pareja o con las personas que amas.
      </p>
      <p class="catalog-step">/01</p>
      <p class="catalog-description">
        Puedes ver imágenes de las propiedades, su ubicación, las
        características principales que tengan y sobre todos encontrar todos los
        rangos de precios para que el lugar se acomode a ti
      </p>
      <p class="catalog-step">/02</p>
    </div>
    <div class="image-content">
      <picture>
        <img
          src="https://via.placeholder.com/350X550"
          alt="placeholder"
          class="img"
        />
      </picture>
    </div>
  </section>
  <section></section>
  <section></section>
</main>

<router-outlet />
