

<main class="main">
    <div class="search-bar">
        <div class="search-section">
          <label class="search-label">DÓNDE</label>
          <input class="search-input" placeholder="Explora Destinos">
        </div>
        <div class="divider"></div>
        <div class="search-section">
          <label class="search-label">LLEGADA</label>
          <input type="date" class="search-input" placeholder="Agrega Fecha">
        </div>
        <div class="divider"></div>
        <div class="search-section">
          <label class="search-label">SALIDA</label>
          <input type="date" class="search-input" placeholder="Agrega Fecha">
        </div>
        <div class="divider"></div>
        <div class="search-section">
          <label class="search-label">QUIÉN</label>
          <input class="search-input" placeholder="¿Cuántos?">
        </div>
       
        <div class="search-icon">
            <span class="material-symbols-outlined">search</span>
        </div>
  
      </div>
     <hr>

     <!-- En tu componente, por ejemplo, carousel-icons.component.html -->
     <!-- properties-catalog.component.html -->
  
  <div class="controls">
    <button class="filter-button">Filtros</button>
    <div class="switch-container">
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
      <span>Mascotas</span>
    </div>
  </div>
  

</main>

<app-footer></app-footer>
