/* search-bar.component.css */
.search-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-color: #e4e4e4;
  border-style: solid;
  border-width: 1px;
  justify-content: space-between;
  margin: 10rem auto 2rem auto;
  width: 100%;
  max-width: 800px;
}

@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    padding: 20px;
    margin: 1rem auto;
    width: 90%;
    border-radius: 30px;
  }
}

.search-section {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.search-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.search-input {
  border: none;
  outline: none;
  color: #858585;
  cursor: pointer;
}

.divider {
  height: 35px;
  width: 1px;
  background-color: #ddd;
  margin: 0 8px;
}

#lupa {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 6vh;
  height: 6vh;
  background-color: #c8bdab;
  cursor: pointer;
}

#lupa .material-symbols-outlined {
  font-size: 24px;
  color: #fff;
}

hr {
  border: 0;
  height: 1px;
  background: #e4e4e4;
  margin-bottom: 3vh;
}

.features-container {
  margin-top: 2rem;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  gap: 20px; /* Espaciado entre elementos */
  align-items: center;
  justify-content: center;
}

.icon-container {
  text-align: center;
}

.switch-container {
  border-color: #e4e4e4;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 2vh;
}

#mascotas {
  margin-right: 1rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.filter-button {
  cursor: pointer;
}

input:checked + .slider {
  background-color: #c8bdab;
}

input:focus + .slider {
  box-shadow: 0 0 1px #c8bdab;
}

input:checked + .slider:before {
  transform: translateX(28px);
}

/* Estilos para el contenedor de las características */

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.material-symbols-outlined {
  font-size: 2.5rem;
  color: #313131;
}

.filter-button {
  border-color: #e4e4e4;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1.5vh 3vh;
  margin-left: 1rem;
}
#filtro {
  border-color: none;
  border-width: 0px;
  background-color: #fff;
  font-size: medium;
  margin-right: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.grid-container-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

#load-more-btn {
  border-color: #c8bdab;
  border-radius: 2vh;
  border-style: solid;
  border-width: 1px;
  background-color: #c8bdab;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 3vh 5vh;
  margin: 2vh auto;
  color: white;
  font-size: larger;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 8rem;
  margin-top: 5rem;
}

#load-more-btn:hover {
  background-color: #b0a091;
  border-color: #b0a091;
}
