
<div class="property-card">
    <div class="image-holder">
        <img src="../../assets/foto3.png" alt="" class="imagen">
        <span class="material-symbols-outlined corazon">
            favorite
        </span>
    </div>
    <div class="image-description">
        <span> Anolaima,</span>
        <span>Cundinamarca</span>

        <span class="material-symbols-outlined estrella" >
            star
            </span>
        <span>5</span>
    </div>

    <div class="features-container">
        <div class="feature-item">
          <span class="material-symbols-outlined">
            bed
          </span>
          <span>4</span>
        </div> 
      
        <div class="feature-item">
          <span class="material-symbols-outlined">
            bathtub
          </span>
          <span>3</span>
        </div>
    
        <div class="feature-item">
            <span class="material-symbols-outlined">
              pool
            </span>
            <span>Si</span>
          </div>
    
        <div class="feature-item">
          <span class="material-symbols-outlined">
            outdoor_grill
          </span>
          <span>Si</span>
        </div>
      </div>
      <div class="image-description">
        <span> 700.000 Pesos Noche</span>
      </div>
</div>